* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-family: system-ui, sans-serif;
}
body {
    background: linear-gradient(#545454, #454545, #676767);
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.dice-list {
    align-items: center;
    display:  inline-grid;
    grid-gap: 1rem;
    justify-items: center;
    padding: 2rem;
    perspective: 2000px;
}
.die {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 6rem;
    list-style-type: none;
    transform-style: preserve-3d;
    width: 6rem;
}
.dice {
    background-position: center;
    background-size: 600%;
    /*box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),*/
    /*inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);*/
    grid-column: 1;
    grid-row: 1;
    height: 90px;
    width: 90px;
    padding: 1rem;
}

.dice[dice_type="p"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_p.png");
}
.dice[dice_type="n"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_n.png");
}
.dice[dice_type="b"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_b.png");
}
.dice[dice_type="r"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_r.png");
}
.dice[dice_type="q"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_q.png");
}
.dice[dice_type="k"][dice_color="black"][grayed='n'] {
    background-image: url("dices/B_k.png");
}

.dice[dice_type="p"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_p.png");
}
.dice[dice_type="n"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_n.png");
}
.dice[dice_type="b"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_b.png");
}
.dice[dice_type="r"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_r.png");
}
.dice[dice_type="q"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_q.png");
}
.dice[dice_type="k"][dice_color="white"][grayed='n'] {
    background-image: url("dices/W_k.png");
}

.dice[dice_type="p"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_p_grayed.png");
}
.dice[dice_type="n"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_n_grayed.png");
}
.dice[dice_type="b"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_b_grayed.png");
}
.dice[dice_type="r"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_r_grayed.png");
}
.dice[dice_type="q"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_q_grayed.png");
}
.dice[dice_type="k"][dice_color="black"][grayed='y'] {
    background-image: url("dices/B_k_grayed.png");
}

.dice[dice_type="p"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_p_grayed.png");
}
.dice[dice_type="n"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_n_grayed.png");
}
.dice[dice_type="b"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_b_grayed.png");
}
.dice[dice_type="r"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_r_grayed.png");
}
.dice[dice_type="q"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_q_grayed.png");
}
.dice[dice_type="k"][dice_color="white"][grayed='y'] {
    background-image: url("dices/W_k_grayed.png");
}


.roll {
    transition: transform 0.75s ease;
}

.roll[result_dice="p"][direction="1"] {
    transform-origin: 50% 45%;
    transform: rotateX(360deg);
}
.roll[result_dice="p"][direction="2"] {
    transform-origin: 65% 50%;
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg) rotateX(90deg);
}
.roll[result_dice="p"][direction="3"] {
    transform: rotateY(-360deg);
}

.roll[result_dice="n"][direction="1"] {
    transform-origin: 50% 65%;
    transform: rotateX(90deg);
}
.roll[result_dice="n"][direction="2"] {
    transform-origin: 50% 62%;
    transform: rotateX(-270deg);
}
.roll[result_dice="n"][direction="3"] {
    transform-origin: 50% 62%;
    transform: rotateX(180deg) rotateY(180deg) rotateX(-90deg) rotateZ(180deg);
}

.roll[result_dice="b"][direction="1"] {
    transform-origin: 65% 50%;
    transform: rotateY(-90deg);
}
.roll[result_dice="b"][direction="2"] {
    transform-origin: 65% 50%;
    transform: rotateY(270deg);
}
.roll[result_dice="b"][direction="3"] {
    transform-origin: 65% 50%;
    transform: rotateX(360deg) rotateY(270deg);
}

.roll[result_dice="r"][direction="1"] {
    transform-origin: 65% 50%;
    transform: rotateY(90deg);
}
.roll[result_dice="r"][direction="2"] {
    transform-origin: 65% 50%;
    transform: rotateY(-270deg);
}
.roll[result_dice="r"][direction="3"] {
    transform-origin: 65% 50%;
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg) rotateX(90deg) rotateY(90deg);
}

.roll[result_dice="q"][direction="1"] {
    transform-origin: 65% 64%;
    transform: rotateY(180deg) rotateZ(180deg);
}
.roll[result_dice="q"][direction="2"] {
    transform-origin: 65% 64%;
    transform: rotateZ(90deg) rotateY(90deg) rotateZ(-90deg);
}
.roll[result_dice="q"][direction="3"] {
    transform-origin: 65% 64%;
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
}

.roll[result_dice="k"][direction="1"] {
    transform-origin: 65% 64%;
    transform: rotateY(180deg) rotateZ(180deg);
}
.roll[result_dice="k"][direction="2"] {
    transform-origin: 65% 64%;
    transform: rotateZ(90deg) rotateY(180deg) rotateZ(-90deg);
}
.roll[result_dice="k"][direction="3"] {
    transform-origin: 65% 64%;
    transform: rotateZ(180deg) rotateY(180deg);
}

[dice_type="p"][state='begin'] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[dice_type="n"][state='begin'] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[dice_type="b"][state='begin'] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[dice_type="r"][state='begin'] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[dice_type="q"][state='begin'] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[dice_type="k"][state='begin'] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}

button {
    align-self: center;
    background-color: #efefef;
    border: none;
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    justify-self: center;
    padding: 0.5rem 1rem;
}
button:hover {
    cursor: pointer;
}

@media (min-width: 900px) {
    .dice {
        perspective: 1300px;
    }
}
