<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home Page</title></head>

<link rel="stylesheet" href="/dice.css"/>

<body>
<div class="dice-list">
    <figure class="die" id="die-1">
        <div class="dice" dice_color="black" dice_type="p" init_type="p" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="n" init_type="n" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="b" init_type="b" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="r" init_type="r" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="q" init_type="q" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="k" init_type="k" grayed="n"></div>
    </figure>
    <figure class="die" id="die-2">
        <div class="dice" dice_color="black" dice_type="p" init_type="p" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="n" init_type="n" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="b" init_type="b" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="r" init_type="r" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="q" init_type="q" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="k" init_type="k" grayed="n"></div>
    </figure>
    <figure class="die" id="die-3">
        <div class="dice" dice_color="black" dice_type="p" init_type="p" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="n" init_type="n" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="b" init_type="b" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="r" init_type="r" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="q" init_type="q" grayed="n"></div>
        <div class="dice" dice_color="black" dice_type="k" init_type="k" grayed="n"></div>
    </figure>
</div>
<button type="button" id="roll-button">Roll</button>
<button type="button" id="white-color">White</button>
<button type="button" id="black-color">Black</button>

</body>

<script type="text/javascript">
    var figures = ['p', 'n', 'b', 'r', 'q', 'k'];
    var grayed = [false, true, false];

    function rollDices() {
        const dice = [...document.querySelectorAll(".die")];
        var j = 0;
        dice.forEach((die) => {
            for (var i = 0; i < die.children.length; i++) {
                die.children[i].setAttribute('dice_type', die.children[i].getAttribute('init_type'));
                die.children[i].setAttribute('state', 'begin');
                die.children[i].setAttribute('grayed', 'n');
            }
            const resultDice = getRandomNumber(0, 5);
            die.classList.toggle("roll");
            die.setAttribute('result_dice', figures[resultDice])
            const direction = getRandomNumber(1, 3);
            die.setAttribute('direction', '' + direction)

            setTimeout(graySlot, 750, j, die, resultDice);
            j++;
        });
    }

    function graySlot (slot, die, resultDice) {
        die.classList.toggle("roll");
        for (var i = 0; i < die.children.length; i++) {
            die.children[i].setAttribute('dice_type', figures[resultDice])
            if (grayed[slot]) {
                die.children[i].setAttribute('grayed', 'y');
            } else {
                die.children[i].setAttribute('grayed', 'n');
            }
            die.children[i].setAttribute('state', 'end');
            console.log('____', die.children[i], slot, grayed[slot]);
        }
    }

    function getRandomNumber(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function setColorBlack() {
        const dices = [...document.querySelectorAll(".dice")];
        dices.forEach((dice) => {
            dice.setAttribute('dice_color', 'black');
        });
    }

    function setColorWhite() {
        const dices = [...document.querySelectorAll(".dice")];
        dices.forEach((dice) => {
            dice.setAttribute('dice_color', 'white');
        });
    }

    document.getElementById("roll-button").addEventListener("click", rollDices);
    document.getElementById("white-color").addEventListener("click", setColorWhite);
    document.getElementById("black-color").addEventListener("click", setColorBlack);

</script>


</html>